@import "globals";

.modal-window-canvas{
  background-color: grey;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: $z-index;
}
.modal-window-holder{
  background-color: white;
  width: 70%;
  min-height: 80%;
  margin: 5% 14%;
  z-index: $z-index + 2;
  padding: .3rem 1rem;
}

.order-button{
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    background-color: transparent;
    opacity: 0;
  }
  60% {
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}
.fade-enter-active, .fade-leave-active{
  transition: opacity .5s;
}

.error-outline{
  outline: red 1px solid;
}
.error-border{
  border: red 1px solid;
}
